* {
	margin: 0px;
	padding: 0px;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	margin: 0px;
	min-height: 600px;
	width: 100%;
	background-color: white;
}

h2 {
	padding: 0.25em;
	font-size: 1.5em;
}

h3 {
	text-align: center;
	background-color: rgb(137, 162, 179);
	margin-bottom: 1em;
	font-size: 1em;
}

table {
	border-collapse: collapse;
	border-style: hidden;
	margin: 0.5em;
}

table td,table th {
	border: 1px solid black;
	padding: 0.5em;
}

/* Fuer Tabellen mit mindestgroesse der spalten (wie in admin/accountsmanagement) */
table.sized td,table.sized th {
	width: 200px;
}

table.hidden td,table.hidden th {
	border: 0px solid black;
	padding: 0.5em;
}

/*fuer Fehlermeldungen*/
div.hiddenerror {
	visibility: hidden;
	font-size: small;
	color: red;
}

div.visibleerror {
	visibility: visible;
	font-size: small;
	color: red;
}

.rightborder { 
 	border-right: 2px solid black; 	
 	overflow: hidden;  			/* unbedingt stehen lassen, ermöglicht automatische höhe =) */
}
 
div.header, div.footer {
	background-color: rgb(137, 162, 179);
	clear: left;
	width: 100%;
	min-height: 1em;
}

div.right {
	float: right;
	width: 25%;
	/*min-height: 600px; --> kein px angaben bei dynamischen Layout!  */
	margin: 0px;
}

div.content { 
	/*overflow: auto; 				/* nicht schon wieder auto!!! des löst jeder Browser wie er will und dann ham ma unterschiedliche Darstellungen!!!! (Laura) */
	width: 75%;
}

div.bordered_float {
	float: right;
	border: 1px solid gray;
	padding: 1em;
}

/*Klasse zum clearn nach float*/
.clear {
	clear: both;
	height:0px;
}

/*Banner mit Bild*/
.banner {
	clear: left;
	display: block;
	background: rgb(137, 162, 179); /* logo-blau */
	background-image: url('logo_uni.png');
	background-repeat: no-repeat;
	background-position: 99%;
	background-size: 6em; /* Original: 11.62em 2.25em */
	border-bottom: 2px solid black;
	width: 100%;
	height: 1.25em; /* Oringinal: 2.35em */
	color: black;
	text-decoration: none;
	font-size: 2em;
}

.textblock {
	padding: 0.25em;
	/* background: lightgray; */
}

.text {
	padding: 0.5em;
	padding-bottom: 0.25em;
	padding-top: 0.25em;
}

.haupttext{
	padding: 0.5em;
	padding-bottom: 0.25em;
	padding-top: 0.25em;
	min-height: 12em;			/*--> dass die nav und anmeldung nicht länger ist als die textseite --> evtl noch änderungen möglich*/
}

/*rechts*/

/*Anmeldebereich oben rechts*/
.commentform {
	float: left;
	width: 100%;
	padding-bottom: 1em;
	/*border-bottom: 1px solid black; /* Ersetzt hr --> funzt so nicht, darstellungsfehler bei mir!! --> müss ma nochmal schaun am mi, is ja jetzt ned so wichtig ^^ */
}

.form {
	padding-right: 10px;
	float: right;
	width: 50%;
	text-align: right;
	line-height: 1.5em;
}

.commentform span {
	padding-left: 10px;
	text-align: left;
	width: 30%;
	float: left;
}

.commentform p {
	text-align: center;
}

.commentform a { /* Fragen vom Rand weg verschieben */
	padding-left: 10px;
}

/* Fuer alle Listen, welche als Forms dargestellt werden */
form.listform {
	padding: 0.5em;
	/* background: lime; */
}

/*Navigationsbereich unten rechts*/
.nav {
	clear: both;
}

.nav ul {
	padding-left: 10px;
	text-decoration: none;
	list-style: none;
}

.nav span { /* falls es ein Unterpunkt gibt */
	padding-left: 20px;
}

/* Pseudoklassen fï¿½r die Navigation */
.nav a,.nav a:link,.nav a:visited {
	color: black;
	text-decoration: none;
	font-size: 1em;
}

.nav a:hover,.nav a:active,.nav a:focus {
	font-size: 1.25em;
	text-decoration: none;
}

/* Registrierung */
.register {
	float: left;
	width: 100%;
	padding-bottom: 1em; /* Ersetzt feste height â€“ bessere dynamik */
	/*border-bottom: 1px solid black; /* Ersetzt hr --> funzt so nicht, darstellungsfehler bei mir!! --> müss ma dann nochmal schaun am mi i ja jetzt ned so wichtig ^^ */
}

.breite {
	width: 27em;
}

.abstand {
	width: 22.75em;
}

.regform {
	float: left;
	width: 11.75em;
	text-align: right;
	line-height: 1.5em;
}

.select {
	float: left;
	width: 6em;
	text-align: right;
	line-height: 1.5em;
}

.register span {
	text-align: left;
	width: 11em;
	float: left;
	line-height: 1.5em;
}

.register p {
	text-align: center;
	width: 26.375em;
}

/* Bewerber */

/* Daten aendern */
.breiteAendern {
	width: 24.75em;
}

.aendern span {
	text-align: left;
	width: 13em;
	float: left;
	line-height: 1.5em;
}

.aendern p {
	text-align: center;
	width: 24.75em;
}

/* Bewerber-Desktop */
.angemeldet {
	padding: 10px;
}

/* status.jsp */
.float {
	float: left;
}

/* provider creatoffer  */

.float2 {
	float: left;
	padding-right: 0.625em;
	line-height: 1.5em;
}

.regform2{
	float:left;
	padding-right: 3.3em;
	line-height: 1.5em;
}

/* Popup styles hier */
div.popup_visible,div.popup_hidden {
	position: absolute;
	left: 25%;
	top: 30%;
	min-width: 15%;
	padding: 0.5em;
	background-color: white;
	border: 1px double black;
	border-radius: 10px;
	box-shadow: 5px 5px 10px #777777;
}

div.popup_visible {
	display: block;
}

div.popup_hidden {
	display: none;
}